html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-blue-intro-email);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

header .container .logo {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
header .container .logo img {
  max-width: 50%;
  height: auto;
}

header .container ul {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  gap: 3rem;
}

header .container ul li a {
  font-family: "Raleway", sans-serif;
  color: var(--white);
}

header .container ul li a:hover {
  text-decoration: underline;
}

main {
  background-color: var(--dark-blue-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro {
  background: url(../imagens/bg-curvy-desktop.svg) no-repeat bottom;
  background-size: contain;
  background-color: var(--dark-blue-intro-email);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .container .inf-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
}

.intro .container .ilustration-intro {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro .container .ilustration-intro img {
  width: 60%;
  height: auto;
}

.intro .container .inf-intro h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  max-width: 50rem;
  color: var(--white);
  margin-top: 3rem;
}

.intro .container .inf-intro p {
  color: var(--white);
  max-width: 30rem;
  margin-top: 3rem;
}

.intro .container .inf-intro .btn {
  background: linear-gradient(to right, var(--cyan-action), var(--blue-action));
  width: 14rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 1.5rem;
}

.intro .container .inf-intro .btn a {
  color: var(--white);
}

.intro .container .inf-intro .btn:hover {
  background: var(--cyan-action);
  cursor: pointer;
}

.access .container .services {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.access .container .services h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--white);
  margin-top: 1.5rem;
}

.access .container .services p {
  color: var(--white);
  font-size: 0.7rem;
  max-width: 19rem;
  margin: 1rem 0 5rem 0;
}

.access .container .services .securyti p {
  max-width: 20.5rem;
}

.access .container .services .files h3 {
  margin-top: 2rem;
}

.access .container .services .collaboration p {
  max-width: 19rem;
}

.productive .container {
  display: flex;
  max-width: 90%;
}
.productive .container .imagen-productive {
  width: 100%;
  height: auto;
}

.productive .container .imagen-productive img {
  max-width: 80%;
  height: auto;
}

.productive .container .productive-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.productive .container .productive-info h2 {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  max-width: 20rem;
}

.productive .container .productive-info p {
  color: var(--white);
  font-size: 0.9rem;
  margin-top: 1rem;
}

.productive .container .productive-info a {
  color: var(--cyan-action);
  border-bottom: 1px solid var(--cyan-action);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.productive .container .productive-info a:hover {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

article .container {
  background-image: url(../imagens/bg-quotes.png);
  background-repeat: no-repeat;
  display: flex;
  gap: 2rem;
  width: 80%;
  margin-top: 8rem;
}

article .container .redes {
  background-color: var(--dark-blue-testimonials);
  padding: 2rem 1.7rem 2rem 1.7rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2rem 0 0 0.5rem;
  box-shadow: 10px 10px 15px var(--dark-blue-intro-email);
  border-radius: 0.5rem;
}

article .container .redes p {
  color: var(--white);
  font-size: 1.1rem;
}

article .container .redes .rede-profile {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

article .container .redes .rede-profile img {
  border-radius: 50%;
  max-width: 2.5rem;
}

article .container .redes .rede-profile .rede-profile-info h4 {
  color: var(--white);
  font-size: 0.8rem;
}

article .container .redes .rede-profile .rede-profile-info p {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.cadastro {
  background: linear-gradient(
    var(--dark-blue-main) 60%,
    var(--dark-blue-footer) 40%
  );
  width: 100%;
  margin-top: 10rem;
  padding: 0 3rem;
}

.cadastro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    var(--dark-blue-main) 60%,
    var(--dark-blue-footer) 40%
  );
}

.cadastro .container .cadastro-email {
  background-color: var(--dark-blue-main);
  padding: 1.5rem;
  box-shadow: 1px -1px 15px var(--dark-blue-footer);
  border-radius: 0.5rem;
}

.cadastro .container .cadastro-email h2 {
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.cadastro .container .cadastro-email p {
  color: var(--white);
  font-size: 0.8rem;
  max-width: 37rem;
  margin-top: 1rem;
}
.cadastro .container .cadastro-email form {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.cadastro .container .cadastro-email form input {
  width: 60%;
  height: 2.5rem;
  border-radius: 50px;
  border: none;
}

.cadastro .container .cadastro-email form input::placeholder {
  padding-left: 1rem;
  font-size: 0.8rem;
  color: #e2d8d8;
}

.cadastro .container .cadastro-email form input:focus-visible {
  outline: none;
  padding-left: 1rem;
}

.cadastro .container .cadastro-email form button {
  width: 40%;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(to right, var(--cyan-action), var(--blue-action));
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cadastro .container .cadastro-email form button {
  font-size: 0.9rem;
  padding: 1rem;
}

.cadastro .container .cadastro-email button:hover {
  background: var(--cyan-action);
  cursor: pointer;
}

footer {
  background-color: var(--dark-blue-footer);
}

footer .container {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

footer .container nav {
  display: flex;
  flex-direction: column;

  padding: 5rem 0rem 5rem 0;
}

footer .container nav .loc {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-top: 2rem;
}
footer .container nav .inf {
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

footer .container nav .loc .inf-loc {
  color: var(--white);
  max-width: 19rem;
  font-size: 0.8rem;
  display: flex;
}

footer .container nav .loc .info-loc::before {
  content: url(../imagens/icon-location.svg);
  padding-right: 1rem;
}

footer .container nav .loc .phone {
  color: var(--white);
  display: flex;
  font-size: 0.8rem;
}

footer .container nav .loc .phone::before {
  content: url(../imagens/icon-phone.svg);
  padding-right: 1rem;
}

footer .container nav .loc .email {
  color: var(--white);
  display: flex;
  font-size: 0.8rem;
  margin-top: 0.7rem;
}

footer .container nav .loc .email::before {
  content: url(../imagens/icon-email.svg);
  padding-right: 1rem;
}

footer .container nav .loc .nav {
  display: flex;
  gap: 3rem;
}

footer .container .loc .nav ul li {
  margin-bottom: 0.7rem;
}

footer .container nav .loc .nav ul li a {
  color: var(--white);
  font-size: 0.9rem;
}

footer .container nav .loc .nav ul li a:hover {
  font-weight: 700;
}

footer .container nav .loc .redes-sociais {
  display: flex;
  gap: 1rem;
}

footer .container nav .loc .redes-sociais a i {
  border: 1px solid;
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

footer .container nav .loc .redes-sociais a i:hover {
  color: var(--cyan-action);
}
